---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header class="mb-5">
	<h2 class="text-2xl font-bold my-3">
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="https://twitter.com/nmemoto" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://github.com/nmemoto" target="_blank">GitHub</HeaderLink>
		<HeaderLink href="https://zenn.dev/nmemoto" target="_blank">Zenn</HeaderLink>
	</nav>
</header>